{% extends "base.html" %}
{% block content %}
    <header>
        <title>Git Test Help</title>
    </header>
    <body>
    <div class="text-start">
    <ul class="list-group mb-3">
        <li class="mb-2">The purpose of this website is to test the possibility of version control to be used in general-purpose file storage/editing.</li>
        <li class="mb-2">This website is very likely to break due to it being a prototype, please put any bugs or problems you find in the feedback form!</li>
        <li class="mb-2">If you have any queries, such as how to use some git features (though I encourage you to play around with the website first), then contact me at gxb199@student.bham.ac.uk</li>
        <li class="mb-2">Do not, I repeat, do <strong>NOT</strong> use this website to store anything long term! This website is merely a proof-of-concept. Expect any and all data to be lost at any time without warning.</li>
        <li class="mb-2">Merge requests here are not real merge requests, they are merely provided to see what kind of merge conflicts would be created if you were to merge.</li>
        <li class="mb-2">If there is a merge conflict, you have to resolve it. You can't do anything else in the meantime.</li>
        <li class="mb-2">If you are not considering using this website again, please delete your account so that you can free up space on my webserver.</li>
        <li class="mb-2">Do not worry about the "collaborators" option on the repository section. It doesn't do anything.</li>
    </ul>
        </div>
    </body>
{% endblock %}