{% extends 'base.html' %}
{% block content %}
    <form method="POST" style="text-align: center; margin: 0 auto; width: 600px">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-secondary" type="submit" name="Submit"/>
    </form>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}